<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="~{member/include/header_nav_footer::header}">
	</header>
	
	<nav th:replace="~{member/include/header_nav_footer::nav}">
	</nav>
	
	<article>
		
		<p>create member fail</p>
		
	</article>
	
	<footer th:replace="~{member/include/header_nav_footer::footer}">
	</footer>
	
</body>
</html>