<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="~{member/include/header_nav_footer::header}">
	</header>
	
	<nav th:replace="~{member/include/header_nav_footer::nav}">
	</nav>
	
	<article>
		
		<p>login member form</p>
		
		<form action="/member/login_member_confirm" name="login_member_form" method="post">
			<input type="text" name="m_id" placeholder="INPUT MEMBER ID">
			<br>
			<input type="password" name="m_pw" placeholder="INPUT MEMBER PW">
			<br>
			<input type="submit" value="로그인">
			<input type="reset" value="초기화">
		</form>
		
	</article>
	
	<footer th:replace="~{member/include/header_nav_footer::footer}">
	</footer>
	
</body>
</html>